.example1{
    background-color: lightgoldenrodyellow;
}
.text1{
    font-family:serif;
    font-size:25px;
    list-style:none;
}
.text2{
    font-family:serif;
    font-size:15px;
    list-style:none;
}
.example4{
    color:crimson;
    font-size:40px;
    font-family:serif;
    list-style:none;
}
